#content-left {
  margin-top: 4rem !important;
}

.btn-get-started {
  /* background-color: #565387; */
  color: #565387;
  text-decoration: none;
  padding: 12px;
  border: 1px solid #565387;
  border-radius: 20px;
}

.btn-get-started:hover {
  transition: 0.5s;
  color: rgb(255, 255, 255);
  background-color: #565387;
}

#header h1 {
  font-weight: bold;
}

#header strong {
  color: #565387;
  font-size: 3rem;
}

.header-img {
  text-align: right;
}

.header-img .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.header-img img {
  height: 85vh;
}
@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.card {
  border-radius: 10px !important;
}

.card-body {
  text-align: center;
}

.cardbtn {
  background-color: #ffffff !important;
  color: #565387 !important;
  /* text-decoration: none; */
  padding: 12px;
  border: 1px solid #565387 !important;
  border-radius: 50px;
}

.cardbtn:hover {
  transition: 0.5s;
  color: rgb(255, 255, 255) !important;
  background-color: #565387 !important;
}

.btnsubmit {
  background-color: #ffffff !important;
  color: #565387 !important;
  /* text-decoration: none; */
  padding: 12px 30px;
  border: 1px solid #565387 !important;
  border-radius: 20px;
}

.btnsubmit:hover {
  transition: 0.5s;
  color: rgb(255, 255, 255) !important;
  background-color: #565387 !important;
}
