.navbar-brand {
  font-size: 1.5rem !important;
  color: #565387 !important;
}

.navbar a {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.navbar a:hover {
  color: #565387 !important;
  text-shadow: 0 0 8px rgba(86, 83, 135, 0.2);
}

/* .menu_active {
  border-bottom: 1px solid red;
} */
